{
  "branches": [
    "main",
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "build",
              "hidden": true
            },
            {
              "type": "ci",
              "hidden": true
            },
            {
              "type": "docs",
              "hidden": true
            },
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "perf",
              "section": "Performance Improvements"
            },
            {
              "type": "refactor",
              "hidden": true
            }
          ]
        }
      }
    ],
    "@semantic-release/github"
  ]
}
